.ctrpg h1 { text-align: left; font-size: 1.3em; text-shadow: 1 1px 0 #999;}
#articles-preview { width: 66%; background: transparent url('/../images/layout/article-header-top.png') top repeat-x;}
#articles-preview h2 { background: transparent; padding: 0;}
#sidepane { width: 28%; margin: 0 1%;}
#prev { margin: 2em 0;}
#article-topic-preview {  }
#article-title-preview { width: 90%;}
#article-title-preview h2 { margin-bottom: 0; font-size: 1.9em; color: #36c;}
#article-title-preview p { margin: 0; padding: 0.3em 0 0; font-style: italic; color: #000;}
#article-date-preview { width: 8%; margin-top: -1.2em; height: 96px; background: transparent url('/../images/layout/article-date.png') top no-repeat;
	color: #fff; padding: 0.5em 0 0; font-size: 100%;}
#article-date-preview time { display: block; width: 100%; text-align: center; padding: 0;}
#article-date-preview .day { font-size: 1.6em; font-weight: bold;}
#article-date-preview .month { font-size: 0.9em;}
#article-date-preview .year { font-size: 0.9em;}
.content { text-align: justify; padding: 1.2em 0.3em 1em;}
.title { width: 13em; display: inline-block; font-size: 1.1em;}
.form-field { margin: 0.8em 0.5em; background: #fff; padding: 0.3em; }
.form-field:hover { background: #efefef;}
.form-notice { font-size: 110%;}
.form-notice em { color: #f33;}
.tabsholder { display: inline-block; margin: 0 auto; width: 90%;}
.button { height: 3em;}

#articles { width: 66%; background: transparent url('/../images/layout/article-header-top.png') top repeat-x;}
#articles h2 { background: transparent; padding: 0;}
#sidepane { width: 28%; margin: 0 1%;}
#article-topic {  }
#article-title { width: 90%;}
#article-title h2 { margin-bottom: 0; font-size: 1.9em; color: #36c;}
#article-title p { margin: 0; padding: 0.3em 0 0; font-style: italic; color: #000;}
.content { text-align: justify; padding: 1.2em 0.3em 1em;}